.options{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-option{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.desc{
    margin-left: 20%;
    margin-right: auto;
}

.select{
    margin-left: auto;
    margin-right: 20%;
}

.continueBtn{
	font-size:20px;
	padding:20px 40px;
}

.loading-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}