.quizWrapper{
    margin-top: 100px;
}

.webPlayer{
    margin-top: 20px;
}

.playButton{
    background-color:#1DB954;
	border-radius:30px;
	border:1px solid #1DB954;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:20px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	margin-top: 100px;
}

.searchBar{
    margin-top: 200px;
	display: flex
}

.submitButton{
    background-color:#1DB954;
	border-radius:30px;
	border:1px solid #1DB954;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:9px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	margin-left: 20px;
}

.search{
	margin-top: 2px;
	flex: 3
}

.result-msg{
	margin-top: 50px;
}